@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.flexToCenterFullScreenColumn {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding: 0;
  margin: 0;
}

.lightMainFont {
  font-family: "Raleway";
  font-weight: 300;
}

.mainFont {
  font-family: "Raleway";
  font-weight: 400;
}

.heavyMainFont {
  font-family: "Raleway";
  font-weight: 700;
}

.startBackground {
  background: linear-gradient(to right, #888888, #EEEEEE, white, #EEEEEE, #888888);
  height: 100vh;
}

.saathGameDevBackground {
  background: url("/assets/img/startbg.png") fixed;
  height: 100vh;
}

.igdaMainLogo {
  width: 860px;
  padding: 32px;
}

.igdapktop {
  background-color: black;
  border: black solid 2px;
  border-left: black solid 8px;
  border-right: black solid 8px;
  border-radius: 12px;
}

.navbarButton {
  color: #ffffbb;
  background-color: #22222288;
  border: #ffffbb66 solid 2px;
  border-radius: 12px;
  padding: 8px;
  margin: 2px;
}

iframe {
  display: none;
  visibility: hidden;
}

a:hover {
  color: #ffffff;
}

@media screen and (max-width: 990px) {
  .navbar {
    display: none;
    visibility: hidden;
  }
  .igdaMainLogo {
    width: 420px;
    padding: 16px;
  }
  .lightMainFont {
    font-family: "Raleway";
    font-weight: 300;
    font-size: 14px;
  }
  .mainFont {
    font-family: "Raleway";
    font-weight: 400;
    font-size: 16px;
  }
  .heavyMainFont {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 20px;
  }
}